
.card:nth-child(1) { animation-delay: 0.1s; }
.card:nth-child(2) { animation-delay: 0.15s; }
.card:nth-child(3) { animation-delay: 0.2s; }
.card:nth-child(4) { animation-delay: 0.25s; }
.card:nth-child(5) { animation-delay: 0.3s; }
.card:nth-child(6) { animation-delay: 0.35s; }
.card:nth-child(7) { animation-delay: 0.4s; }
.card:nth-child(8) { animation-delay: 0.45s; }
.card:nth-child(9) { animation-delay: 0.5s; }
.card:nth-child(10) { animation-delay: 0.55s; }
.card:nth-child(11) { animation-delay: 0.6s; }
.card:nth-child(12) { animation-delay: 0.65s; }
.card:nth-child(13) { animation-delay: 0.7s; }
.card:nth-child(14) { animation-delay: 0.75s; }
.card:nth-child(15) { animation-delay: 0.73s; }
.anim:nth-child(1) { animation-delay: 0.1s; }
.anim:nth-child(2) { animation-delay: 0.1.5s; }
.anim:nth-child(3) { animation-delay: 0.2s; }
.gridcard-big{animation-delay: 0.1s;}
.gridcardd{animation-delay: 0.1.5s;}
.griidcardd{animation-delay: 0.2s;}
.griidcard{animation-delay: 0.2.5s;}
.griiidcard{animation-delay: 0.3s;}
.griiidcardd-big{animation-delay: 0.3.5s;}
.cardexp:nth-child(1){animation-delay: 0.1;}
.cardexp:nth-child(2){animation-delay: 0.4;}
.cardexp:nth-child(3){animation-delay: 0.5;}
.cardexp:nth-child(4){animation-delay: 0.6;}
.parentofblockminiofcontact{animation-delay: 0.1;}
.form__group:nth-child(1){animation-delay: 0.2;}
.form__group:nth-child(2){animation-delay: 0.3;}
.fatheroftext{animation-delay: 0.4;}
.card-animated {
    animation: cardinv 0.8s ease-out;
    animation-fill-mode: both;
}
.card:hover{
    transform: translateY(-3px) scale(1)!important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3)!important;
    border-color: rgba(255, 255, 255, 0.2)!important;
}
@keyframes cardinv {
    0% {
        opacity: 0;
        transform: scale(0.7) translateY(20px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.fade-in1{
    opacity: 0;
    transform: translateX(40px);
    animation: fadeInUp 1.3s ease-out forwards;
}
.fade-in2{
    opacity: 0;
    transform: translateX(40px);
    animation: fadeInUp 1.5s ease-out forwards;
}
.fade-in3{
    opacity: 0;
    transform: translateY(40px);
    animation: fadeInUp 1.7s ease-out forwards;
}
.fade-in4{
    opacity: 0;
    transform: translateY(40px);
    animation: fadeInUp 3s ease-out forwards;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.float-x {
  display: inline-block;
  animation: floatX 5s ease-in-out infinite;
}

@keyframes floatX {
  0%   { transform: translateX(-8px); }
  50%  { transform: translateX(8px); }
  100% { transform: translateX(-8px); }
}
button:hover{
    background-color:rgba(22, 100, 234, 1) ;
    text-shadow:0 5px 15px rgba(0, 0, 0, 0.3) ;
    border: 1px solid rgba(22, 100, 234, 1);
}
