:root{
 --transition-time: 2.5s;
}
body.dark-theme {
    background-color: rgba(48, 48, 48, 1);
    color: white;
    transition: 
    background-color var(--transition-time) ease,
    color var(--transition-time) ease;
}
body.dark-theme .text-side p { 
    color: white;
}

body.dark-theme .aboutme h2 { 
    color: rgb(255, 255, 255 ,0.25);
    
}
body.dark-theme .menuabout li { 
    color: white;
}
body.dark-theme .skilblock{
    background-color:rgba(37, 37, 37, 1) ;
    color: white;
}
/* cтили для линий */
body.dark-theme .cssp{
            background: linear-gradient(90deg,
  rgba(43, 0, 255, 0.7) 65%,


  rgba(255,255,255,1) 100%);
}
body.dark-theme .jslineborder{
    background: linear-gradient(90deg,
  rgba(43, 0, 255, 0.7) 45%,


  rgba(255,255,255,1) 100%);
}
body.dark-theme .htmlline{
        background: linear-gradient(90deg,
  rgba(43, 0, 255, 0.7) 65%,


  rgba(255,255,255,1) 100%);
}
/* cтили для линий */

body.dark-theme .skilblock p {
    color: white;
}
body.dark-theme .skilblock h1{
    color: white;
}
body.dark-theme .myintch { 
    background-color: rgba(22, 100, 234, 1);
    border: 1px solid rgba(48, 48, 48, 1) ;
}
body.dark-theme .sectofgrid {
    background-color: rgba(48, 48, 48, 1);
    color: white;
}
/* experience pagee черн тема */
body.dark-theme .Experiencepage   {
    background-color: rgba(37, 37, 37, 1);
    color: white;
}
body.dark-theme .Experiencepage h1  {
    background-color: rgba(37, 37, 37, 1);
    color: white;
}
body.dark-theme .Experiencepage p    {
    background-color: rgba(37, 37, 37, 1);
    color: white;
}
body.dark-theme .Experiencepage .cardexp   {
    background-color: rgba(37, 37, 37, 1);
    color: white;
}
body.dark-theme .Experiencepage .yearincard   {
    color: rgba(22, 100, 234, 1)
}
/* experience pagee черн тема */
body.dark-theme .blockofmycontact {
    background-color: rgba(48, 48, 48, 1);
    color: white;

}
body.dark-theme .blockofmycontact .form__input {
    background-color: rgba(48, 48, 48, 1);
    color: white;
}
/* maingrid стили дарк тем */
body.dark-theme .maingridblock p{
    color: white;
}
/* maingrid стили дарк тем */
/* форма пред ласт блок */
body.dark-theme .parentofblockminiofcontact{
    background-color:rgba(37, 37, 37, 1);
    border: 2px solid rgba(37, 37, 37, 1);
}
body.dark-theme .blockofmycontact h1{
    color: white;
}
body.dark-theme .blockofmycontact p{
    color: white;
}
body.dark-theme .form__label  {
    color: white;
}
body.dark-theme .req  {
    color: white;
}
body.dark-theme .form__input  {
    background-color: rgba(48, 48, 48, 1);
    border: 2px solid rgba(48, 48, 48, 1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.25) ;
}
body.dark-theme ::placeholder  {
    color: rgba(255, 255, 255, 0.25);
}

body.dark-theme .bluecolorofspan  {
    border: 1px solid rgba(48, 48, 48, 1);;
}
body.dark-theme .form__description  {
    color: white;
}
body.dark-theme .form__description  {
    color: white;
}
body.dark-theme .form__text  {
    border: 2px solid rgba(255, 255, 255, 0.25);
    color: white;
    background-color:rgba(48, 48, 48, 1) ;
}
/* форма пред ласт блок */
/* футер */
body.dark-theme .backto  {
    color:rgba(22, 100, 234, 1) ;
}
/* футер */
