/* experience page */
.Experiencepage{
    width: 100%;
    height: 1300px;
    background-color: var(--color-accent);
}
.Epxerienceabout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    flex-direction: column;
    margin-top: 80px
}
.experienceparagraf{
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 4px;
    color: var(--color-muted);
}
.experienceh{
    color: var(--color-text);
    line-height: 120%;
    font-weight: 700;
    font-size: 40px;
}
.experienceparagrafofaboutmyskill{
    color: var(--color-text);
    line-height: 140%;
    font-size: 17px;
    font-weight: 400;
    width: 400px;
    text-align: center;
}
.fatherofcardofexp{
    display: flex;
    width: 100vw;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cardexp{
    width: 590px;
    height: 338px;
    border: 1px solid var(--color-muted);
    border-radius: 10px;
    background-color: var(--color-accent);
    padding: 40px;
    box-shadow: 3px 6px 5px rgb(78, 78, 78);
}
.someexperienceofh1incard{
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: var(--color-text);
}
.sometextincardaboutexperience{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-text);
    width: 450px;
}
.yearincard{
    color: var(--color-text);
    line-height: 100%;
    font-size: 100px;
    font-weight: 700;
    margin-top: 100px;
}


